body {    
    margin: auto auto;
    background: #EFEFEFFF;
    width: 90vw;    
}


html {
    font-family: 'Roboto', sans-serif;
}

/* .indexContainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 0.8fr 3fr 2fr;
    grid-template-areas: 
    "header header header header"
    "topNav topNav topNav topNav"
    "mainTable   mainTable mainTable mainTable"
    "section section section section";
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    height: 15vh;
    /* margin-bottom: 1vh; */
    /* padding-right: 5%; */
    color: #373634;   
}

 
/* #loginTab {
    background-color: #5396CB;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.8%;
    margin: 2%;
    margin-bottom: 0;
} */

#logoImg {
    /* width: 20%;
    height: 20%; */
    object-fit: cover;
}

#topNavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5396CB;
    height: 5vh;
    /* width: 80%;
    margin-left: 8%; */
    padding: 0.6%;
    /* margin: 0.6em; */
    margin-bottom: 3%;
    margin-top: 0;
    font-weight: bold;
}

.navItems {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}


table {
    /* display: flex; */
    /* border: 1px solid black; */
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    color: black;
    /* background-color: lightblue; */
    /* height: 50vh; */
    box-sizing: border-box;
}

h6 {
    margin: 0;
    font-size: 1em;
}

ul {
    padding-left: 20%;
}

li {
    font-size: 1.2em;
}

tr {
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

th {
    font-size: 1.2em;
    /* border: 1px solid black; */
    margin: 0;    
    width: 25%;
    /* height: 7.5vh; */
    background: #5396CB;
    color: white;
    font-weight: normal;
}

.eventTH {
    width: 16%;
    background: #5396CB80;
    height: 16%;
    font-size: 1.2em;
}

td {
    /* border: 1px solid black; */
    height: 14vh;
    font-size: 0.8em;
    padding: 0;
    background: #5396CB80;
    width: 16%;
}

.eventTD {
    height: 5vh;
    font-size: 1em;
    background: #5396CB27;
    /* width: 12%; */
}

#tableHead {
    color: white;
    font-size: 1.5em;
    font-weight: normal;
}

.bcgChange {
    background:#5396CB;    
}

.bcgChange1 {
    background: #5396CB80;
    font-weight: normal;
    color: black;
}

.bcgChange2 {
    background: #5396CB27;
}

.indexBtns {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slideOne { 
    border: 3px solid #e478528a;
    background: #e47852;
    border-radius: 50%;
    padding: 0.5% 0.5%;
}

#slideTwo { 
    border: 3px solid #e478528a;
    background: #e478528a;
    border-radius: 50%;
    padding: 0.5% 0.5%;
}

#slideThree { 
    border: 3px solid #e478528a;
    background: #e478528a;
    border-radius: 50%;
    padding: 0.5% 0.5%;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 0;
}

section h3 {
    text-align: center;
    font-size: 2em;
    color: #373634;
}

.btnWrap {    
    display: flex; 
    justify-content: space-around;  
    align-items: center;  
    gap: 10%;
}

#comBtn {
    background-color: #5396CB;   
    /* margin: 0 auto; */
    border: 3px solid #5396CB;
    font-weight: normal;
    font-size: 1.2rem;  
    height: 140px;
    width: 180px; ;  
    color: white;
    /* margin-bottom: 60px; */
}

#venBtn {
    background-color: #5396CB;   
    /* margin: 0 auto; */
    border: 3px solid #5396CB;
    font-weight: normal;
    font-size: 1.2rem; 
    height: 140px;
    width: 180px;  
    color: white;    
}

#sspBtn {
    background-color: #5396CB;   
    /* margin: 0 auto; */
    border: 3px solid #5396CB;
    font-weight: normal;
    font-size: 1.2rem; 
    height: 140px;
    width: 180px;  
    color: white;
}

#invBtn {
    background-color: #5396CB;   
    /* margin: 0 auto; */
    border: 3px solid #5396CB;
    font-weight: normal;
    font-size: 1.2rem; 
    height: 140px;
    width: 180px; 
    color: white;
}

#main {
    display: grid;
    grid-template-columns: 15% 80%;
    grid-gap: 5%;
}

#sideNav {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: #5396CB;
    padding: 1%;
    padding-bottom: 1%;
    text-align: center;
    height: 25vh;
}

.sideNavBar {
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
    /* padding: 2%; */
    margin: 0.6em;
    background: none;
    border: none;
}

/* needs looking at */
#servicePic {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

#eventTables {
    margin: 0;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 0.8em;
    }
}

