body {    
    margin: auto auto;
    background: #EFEFEFFF;
    width: 25cm;   
    overflow-y: scroll; 
}


html {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
   
    color: #373634;   
}

#logoImg {
    object-fit: cover;
}

#topNavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5396CB;
    height: 5vh;
    padding: 0.6%;
    margin-bottom: 3%;
    margin-top: 0;
    font-weight: bold;
}

.navItems {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}


table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
    color: black;
    box-sizing: border-box;
}

h6 {
    margin: 0;
    font-size: 1em;
}

ul {
    padding-left: 20%;
}

li {
    font-size: 1.3em;
}

tr {
    justify-content: center;
    align-items: center;
    text-align: center;
}

th {
    font-size: 1.2em;
    margin: 0;    
    width: 25%;
    background: #5396CB;
    color: white;
    font-weight: normal;
}

.eventTH {
    width: 16%;
    background: #5396CB80;
    height: 16%;
    font-size: 1.2em;
}

td {
    height: 14vh;
    font-size: 0.8em;
    padding: 0;
    background: #5396CB80;
    width: 16%;
}

.eventTD {
    height: 5vh;
    font-size: 1em;
    background: #5396CB27;
}

#tableHead {
    color: white;
    font-size: 1.5em;
    font-weight: normal;
}

.bcgChange {
    background:#5396CB;    
}

.bcgChange1 {
    background: #5396CB80;
    font-weight: normal;
    color: black;
}

.bcgChange2 {
    background: #5396CB27;
}

.indexBtns {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slideOne { 
    border: 3px solid #e478528a;
    background: #e47852;
    border-radius: 50%;
    padding: 0.6% 0.6%;
    margin: 0.1em;
}

#slideTwo { 
    border: 3px solid #e478528a;
    background: #e478528a;
    border-radius: 50%;
    padding: 0.6% 0.6%;
    margin: 0.1em;
}

#slideThree { 
    border: 3px solid #e478528a;
    background: #e478528a;
    border-radius: 50%;
    padding: 0.6% 0.6%;
    margin: 0.1em;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 0;
}

section h3 {
    text-align: center;
    font-size: 2em;
    color: #373634;
}


#main {
    display: grid;
    grid-template-columns: 17% 78%;
    grid-gap: 5%;
}

.sideNav {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: #5396CB;
    padding: 1%;
    padding-bottom: 1%;
    text-align: center;
    padding-bottom: 2vh;
}


.sideNavBar {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 0.6em;
    margin-bottom: 1vh;    
    background: none;
    border: none;
}

#servicePic {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

#eventTables {
    margin: 0;
}

.stcSports {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #373634;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1.6em;
    box-sizing: border-box;
}

#stcSportsBB {    
    color: #5396CB;
    border-right: none;
    border-bottom: none;
}

#stcSportsSoc {
    color: #ebc95a;
    border-bottom: none;
}

#stcSportsRug {
    color: #87ba41;
    border-right: none;
}

#stcSportsInt {
    color: #e47852;
}

#stcSportsBB:hover {
    background: #5396CB;
    color: black;    
}

#stcSportsSoc:hover {
    background: #ebc95a;
    color: black;
}

#stcSportsRug:hover {
    background: #87ba41;
    color: black;
}

#stcSportsInt:hover {
    background: #e47852;
    color: black;
}

h5 {
    margin: 0;
    font-size: 1.2em;
}

.h5Start {
    text-align: start;
}

.h5End {
    text-align: end;
}

.extraP {
    grid-row-start: 5;
    grid-column: 1/3;
}

